.icon {
    position: absolute;
    right: 15px;
    top: 52px;
    transform: translateY(-50%);
    cursor: pointer;
}

.input {
    font-size: 16px;
    line-height: 20px;
    color: var(--navy-blue);
}

.input::placeholder {
    font-size: 16px;
    color: var(--navy-blue);
}