.form_header {
    color: var(--light-gray);
    font-size: 36px;
    display: flex;
    justify-content: center;
}

.body{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 20px;
}

